<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CertificateGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <CertificateGenerator.Properties.Settings>
            <setting name="tryFonts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="linkedTextBoxes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nameAndSurname" serializeAs="String">
                <value />
            </setting>
            <setting name="fatherName" serializeAs="String">
                <value />
            </setting>
            <setting name="dateOfBirth" serializeAs="String">
                <value />
            </setting>
            <setting name="nationalID" serializeAs="String">
                <value />
            </setting>
            <setting name="serialNo" serializeAs="String">
                <value />
            </setting>
            <setting name="courseName" serializeAs="String">
                <value />
            </setting>
            <setting name="certDate" serializeAs="String">
                <value />
            </setting>
            <setting name="courseLength" serializeAs="String">
                <value />
            </setting>
            <setting name="avg" serializeAs="String">
                <value />
            </setting>
            <setting name="userImage64" serializeAs="String">
                <value />
            </setting>
            <setting name="savePath" serializeAs="String">
                <value />
            </setting>
            <setting name="openResult" serializeAs="String">
                <value>False</value>
            </setting>
        </CertificateGenerator.Properties.Settings>
    </userSettings>
</configuration>